@keyframes elephant {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(0, 10px);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes dashoffset {
    to {
        stroke-dashoffset: 0;
    }
}

.cls-1, .cls-2 {
    stroke: black;
    stroke-miterlimit: 10;
    animation: dashoffset 10s linear infinite;
}

.cls-2 {
    fill: #fff;
}


