@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(359deg);
    }
}


@keyframes rotateReverse {
    0% {
        transform: rotate(359deg);
    }

    100% {
        transform: rotate(0deg);
    }
}


@keyframes rotateZ {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(359deg);
    }
}

@keyframes mixRotate {
    0% {
        transform: rotateZ(0deg);
    }

    10% {
        transform: rotateZ(180deg);
    }

    20% {
        transform: rotateZ(360deg);
    }

    30% {
        transform: rotateZ(540deg);
    }

    40% {
        transform: rotateZ(720deg);
    }

    50% {
        transform: rotateZ(900deg);
    }

    60% {
        transform: rotateZ(1080deg);
    }

    70% {
        transform: rotateZ(1260deg);
    }

    80% {
        transform: rotateZ(1440deg);
    }

    90% {
        transform: rotateZ(1620deg);
    }

    100% {
        transform: rotateZ(1800deg);
    }

}

.rotateAll {
    animation: mixRotate 12s linear infinite;

}

.rotateZ {
    animation: rotateZ 4s linear infinite;
    animation: rotate 4s linear infinite;
}

.rotate {
    animation: rotate 4s linear infinite;
}

.rotateReverse {
    animation: rotateReverse 4s linear infinite;
}