@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Chakra+Petch:wght@300&family=Climate+Crisis&family=Grape+Nuts&family=IBM+Plex+Sans+Devanagari:wght@300&family=Lemon&family=Noto+Sans+Devanagari:wght@100&family=Nunito:wght@300&family=Pacifico&family=Rajdhani:wght@300&family=Roboto:wght@300&display=swap');


html,body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: url('../public/assets/grainyFilter.svg'); */
  background-color: #ffffff;

  color: black;
}

.nav-link {
  @apply text-gray-700 hover:text-pink-200
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.text-deco .background2 {
  line-height: 2;
  font-size: 1rem;
  display: block;
  background-image: repeating-linear-gradient(transparent,transparent 0.9rem,yellow 0.9rem, yellow 1.1rem,transparent 1.1rem, transparent 2rem);
}